@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("/pricedown.otf") format("opentype");
}

@font-face {
  font-family: "helvetica";
  src: url("/HelveticaNowDisplay-Regular.otf") format("opentype");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown", sans-serif;
}
body{
  overflow-x: hidden;
}